@charset "utf-8";

html {
  height: 100%;
  background-color: white;
}
body {
  min-width: 360px;
  min-height: 100%;
  background-color: white;
}
#article-conainter {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0px auto;
  min-width: 360px;
  max-width: 640px;
}
#article-conainter article {
  padding: 10px 20px 10px 20px;
  margin-bottom: 40px;
  transition: all 0.2s linear;
  border-radius: 6px;
  -webkit-user-select: text;
}
#article-conainter article:nth-child(n+2) {
  margin-top: 20px;
}
#article-conainter article::after {
  content: '————';
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  color: rgba(240, 240, 240, 1);
  text-align: center;
}
#article-conainter article img {
  border-radius: 6px;
  background-color: rgba(255,255,255,0.3);
}
#article-conainter article pre {
  border-radius: 6px;
  border-width: 0px;
  border-color: tranparent;
}
.readonly {
  -webkit-user-select: none;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
