#profile {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#profile #avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
}
#contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: auto;

  margin-left: auto;
}
#contact i {
  margin-left: 20px;
}
#contact:first {
  margin-right: 0px;
}
#contact a {
  color: black;
}
#profile::after {
  content: '··•··';
  display: block;
  font-size: 11px;
  letter-spacing: 1.5em;
  margin: 2em 0 3em 0;
  color: #FF5E3A;
  text-align: center;
}
#footer {
  clear: both;
  padding: 60px 0 30px;
  text-align: center;
  font-weight: 100;
}
