#nav{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-bottom: 1px rgb(220, 220, 220) dashed;
}
#dark-mode-switch {
  display: flex;
  align-items: center;
}
.nav-item {
  display: flex;
  flex-direction: row;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
}
