#container article {
  padding: 10px 20px 10px 20px;
  margin-bottom: 40px;
  transition: all 0.2s linear;
  border-radius: 6px;
  -webkit-user-select: text;
}
#container article:nth-child(n+2) {
  margin-top: 20px;
}
#container article::after {
  content: '··•··';
  display: block;
  font-size: 11px;
  letter-spacing: 1.5em;
  margin: 7em -1.5em 11em 0;
  color: #FF5E3A;
  text-align: center;
}
#container article img {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}
#container article pre {
  border-radius: 6px;
  border-width: 0px;
  border-color: tranparent;
}
