html {
  height: 100%;
  background-color: white;
}
body {
  min-width: 360px;
  min-height: 100%;
  background-color: white;
}
#container {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0px auto;
  min-width: 360px;
  max-width: 640px;
}
.readonly {
  -webkit-user-select: none;
}
a {
  color: rgb(50, 175, 65);
  border: 0px !important;
}
